In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine = create_engine("sqlite:///../Resources/beer.db", echo=True)
conn = engine.connect()

2021-03-05 15:04:56,034 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-03-05 15:04:56,039 INFO sqlalchemy.engine.base.Engine ()
2021-03-05 15:04:56,043 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-03-05 15:04:56,047 INFO sqlalchemy.engine.base.Engine ()

In [3]:
conn.execute("""DROP TABLE beer_reviews""")

2021-03-05 15:04:56,072 INFO sqlalchemy.engine.base.Engine DROP TABLE beer_reviews
2021-03-05 15:04:56,073 INFO sqlalchemy.engine.base.Engine ()
2021-03-05 15:05:04,977 INFO sqlalchemy.engine.base.Engine COMMIT

In [4]:
# Create the table - note that if we use automap_base, the table must have primary key!
conn.execute("""CREATE TABLE IF NOT EXISTS beer_reviews ( 
    beer_reviews_id INTEGER PRIMARY KEY AUTOINCREMENT ,
    beer_id         INTEGER NOT NULL , 
    username        TEXT NOT NULL ,
    date            TEXT NOT NULL , 
    look            REAL NOT NULL ,
    smell           REAL NOT NULL ,
    taste           REAL NOT NULL ,
    feel            REAL NOT NULL ,
    overall         REAL NOT NULL ,
    score           REAL NOT NULL ,
    beer_name       TEXT NOT NULL ,
    review_state    TEXT NOT NULL ,
    style           TEXT NOT NULL ,
    availability    TEXT NOT NULL , 
    abv             REAL NOT NULL ,
    brewery_id      INTEGER NOT NULL ,
    brewery_name    TEXT NOT NULL ,
    brewery_city    TEXT NOT NULL ,
    brewery_state   TEXT NOT NULL ,
    brewery_types   TEXT NOT NULL 
)
""")

2021-03-05 15:05:05,036 INFO sqlalchemy.engine.base.Engine CREATE TABLE IF NOT EXISTS beer_reviews (
    beer_reviews_id INTEGER PRIMARY KEY AUTOINCREMENT ,
    beer_id         INTEGER NOT NULL ,
    username        TEXT NOT NULL ,
    date            TEXT NOT NULL ,
    look            REAL NOT NULL ,
    smell           REAL NOT NULL ,
    taste           REAL NOT NULL ,
    feel            REAL NOT NULL ,
    overall         REAL NOT NULL ,
    score           REAL NOT NULL ,
    beer_name       TEXT NOT NULL ,
    review_state    TEXT NOT NULL ,
    style           TEXT NOT NULL ,
    availability    TEXT NOT NULL ,
    abv             REAL NOT NULL ,
    brewery_id      INTEGER NOT NULL ,
    brewery_name    TEXT NOT NULL ,
    brewery_city    TEXT NOT NULL ,
    brewery_state   TEXT NOT NULL ,
    brewery_types   TEXT NOT NULL
)

2021-03-05 15:05:05,039 INFO sqlalchemy.engine.base.Engine ()
2021-03-05 15:05:05,056 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:
# Read in target dataframes
review_df = pd.read_csv("../Resources/reviews_beer_brewery.zip")

In [6]:
# Insert into table
review_df.to_sql("beer_reviews", conn, if_exists="append", index=False)

2021-03-05 15:05:14,855 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("beer_reviews")
2021-03-05 15:05:14,857 INFO sqlalchemy.engine.base.Engine ()
2021-03-05 15:05:16,726 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-03-05 15:05:54,712 INFO sqlalchemy.engine.base.Engine INSERT INTO beer_reviews (beer_id, username, date, look, smell, taste, feel, overall, score, beer_name, review_state, style, availability, abv, brewery_id, brewery_name, brewery_city, brewery_state, brewery_types) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-03-05 15:05:54,714 INFO sqlalchemy.engine.base.Engine ((271781, 'bluejacket74', '2017-03-17', 4.0, 4.0, 4.0, 4.25, 4.0, 4.03, 'Motorbreath Imperial Stout', 'OH', 'American Imperial Stout', 'Limited (brewed once)', 10.8, 28094, 'Four String Brewing Company', 'Columbus', 'OH', 'Brewery, Bar'), (184647, 'Try-em-all', '2017-09-27', 4.0, 4.0, 3.5, 3.5, 3.75, 3.7, 'Payback Pilsner', 'OH', 'Bohemian Pilsener', 'Rotating', 5.1, 28094, 'Four String Brewing Company', 'Columbus', 'OH', 'Brewery, Bar'), (184647, 'ScorpioBeerLover', '2017-03-22', 4.0, 4.0, 4.25, 3.75, 4.0, 4.08, 'Payback Pilsner', 'OH', 'Bohemian Pilsener', 'Rotating', 5.1, 28094, 'Four String Brewing Company', 'Columbus', 'OH', 'Brewery, Bar'), (184647, 'beergoot', '2016-10-08', 3.25, 3.25, 3.5, 3.5, 3.5, 3.43, 'Payback Pilsner', 'OH', 'Bohemian Pilsener', 'Rotating', 5.1, 28094, 'Four String Brewing Company', 'Columbus', 'OH', 'Brewery, Bar'), (184647, 'woodychandler', '2016-09-25', 3.75, 3.75, 3.5, 3.5, 3.5, 3.58, 'Payback Pilsner', 'OH', 'Bohemian Pilsener', 'Rotating', 5.1, 28094, 'Four String Brewing Company', 'Columbus', 'OH', 'Brewery, Bar'), (184647, 'WoodBrew', '2016-07-14', 3.75, 3.5, 3.5, 3.5, 3.5, 3.52, 'Payback Pilsner', 'OH', 'Bohemian Pilsener', 'Rotating', 5.1, 28094, 'Four String Brewing Company', 'Columbus', 'OH', 'Brewery, Bar'), (184647, 'SaltofOH', '2016-07-09', 2.5, 3.0, 2.75, 2.5, 2.75, 2.77, 'Payback Pilsner', 'OH', 'Bohemian Pilsener', 'Rotating', 5.1, 28094, 'Four String Brewing Company', 'Columbus', 'OH', 'Brewery, Bar'), (184647, 'Brutaltruth', '2016-01-15', 3.75, 3.25, 3.25, 3.5, 3.5, 3.36, 'Payback Pilsner', 'OH', 'Bohemian Pilsener', 'Rotating', 5.1, 28094, 'Four String Brewing Company', 'Columbus', 'OH', 'Brewery, Bar')  ... displaying 10 of 2127677 total bound parameter sets ...  (347287, 'Tennisballa07', '2018-07-07', 4.0, 4.0, 4.25, 4.5, 4.25, 4.2, 'Hoprodisiac', 'GA', 'American Imperial IPA', 'Year-round', 7.8, 51482, 'Akademia Brewing Company', 'Athens', 'GA', 'Brewery, Bar, Eatery, Beer-to-go'), (347287, 'Sludgeman', '2018-05-23', 3.5, 4.0, 4.0, 4.0, 4.0, 3.97, 'Hoprodisiac', 'GA', 'American Imperial IPA', 'Year-round', 7.8, 51482, 'Akademia Brewing Company', 'Athens', 'GA', 'Brewery, Bar, Eatery, Beer-to-go'))
2021-03-05 15:06:10,316 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:
# Clean up
conn.close()
engine.dispose()